@import "../components/Login.module.scss";

.text {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #333;
}

.link {
  color: #0b2040;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
