.header {
  background: #0b2040;

  h1 {
    color: #e5f0ff;
    span {
      color: #d5a419;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    li {
      a {
        display: inline-block;
        color: #e5f0ff;
        padding: 1rem 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.35;
        &:hover {
          color: #d5a419;
        }
      }
    }
  }
}

.container {
  max-width: 1240px;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
}
